---
subject: Tech & Tunes tomorrow
description: Thanks for registering
---
<container>
  <spacer size="16"></spacer>
  <row class="above">
    <columns large="12" small="12">
      <h4 class="text-center">Thanks for registering; you're all set! We can't wait for Saturday and hope you're excited too!</h4>
    </columns>
  </row>
  <spacer size="16"></spacer>
  <row>
    <columns large="6" small="12">
      <h5 class="text-center">Who</h5>
      <p class="text-center"><b>You and all your friends!</b><br>Share the event through <a href="https://www.facebook.com/events/680956385406833/">Facebook</a>,<br>our <a href="http://launch.topl.me">event page</a>, or with #techandtunes</p>
    </columns>
    <columns large="6" small="12">
      <center>
        <img src="https://s3.amazonaws.com/topl-profile-photos/email/event-people.png" class="who" width="250">
      </center>
    </columns>
  </row>
  <spacer size="16"></spacer>
  <row>
    <columns large="6" small="12">
      <h5 class="text-center">Where</h5>
      <p class="text-center"><b>Rice University, Keck Patio</b><br>Use Entrance 21 off Rice. Blvd.<br>Parking in North Lot</p>
    </columns>
    <columns large="6" small="12">
      <center>
        <img src="https://s3.amazonaws.com/topl-profile-photos/email/event-map.png" class="where" width="250">
      </center>
    </columns>
  </row>
  <spacer size="16"></spacer>
  <row>
    <columns large="6" small="12">
      <h5 class="text-center">When</h5>
      <p class="text-center"><b>Saturday, November, 12</b><br>Founders' Panel: 5:00 - 5:30 PM<br>Showcase & Party: 5:30 - 9:30 PM</p>
    </columns>
    <columns large="6" small="12">
      <center>
        <img src="https://s3.amazonaws.com/topl-profile-photos/email/event-when.png" class="when" width="250">
      </center>
    </columns>
  </row>
  <spacer size="16"></spacer>
<spacer size="16"></spacer>
  <row>
    <columns>
      <h3 class="text-center">Download Topl and setup your account then scan the QR code to get $10 of free food and event swag!</h3>
    </columns>
  </row>
  <row>
    <columns large="12" small="12">
      <center>
        <img src="https://s3.amazonaws.com/topl-profile-photos/email/EventPromoCode.jpg" class="qr" width=200>
      </center>
    </columns>
  </row>
  <spacer size="20"></spacer>
  <row>
    <columns large="6" small="12">
      <center>
        <a href="https://itunes.apple.com/us/app/topl-payments/id1118724422?mt=8"><img src="https://s3.amazonaws.com/topl-profile-photos/email/AppStore.png"></a>
      </center>
    </columns>
    <columns large="6" small="12">
      <center>
        <a href="https://play.google.com/store/apps/details?id=com.topl.Topl"><img src="https://s3.amazonaws.com/topl-profile-photos/email/PlayStore.png"></a>
      </center>
    </columns>
  </row>
  <spacer size="32"></spacer>
</container>
<row class="collapsed footer">
    <columns>
      <spacer size="16"></spacer>
      <p class="text-center">Topl LLC 2016<br/>
      <a href="info@topl.me">info@topl.me</a></p>
    </columns>
</row>
<spacer size="16"></spacer>
