---
layout: default
subject: We'd love your feedback
description: Thanks for being a Topl'er
---
<container>
  <spacer size="16"></spacer>
  <row class="above">
    <columns large="12" small="12">
      <h4 class="text-center">Thanks for being a Topl'er!</h4>
    </columns>
  </row>
  <spacer size="12"></spacer>
  <row>
    <columns large="12" small="12">
      <p style="text-align: justify">Hi [%first_name%],</p><br>
      <p style="text-align: justify">The last few weeks have been very exciting for us here at Topl, since our official launch just over three weeks ago, we have brought 5 businesses and nearly 400 shoppers onto the Topl platform.</p>
      <p style="text-align: justify">As we seek to make Topl as awesome as possible, we need your help! If you could take five minutes to complete a brief survey about your experience so far, you'll be helping us make an even better product for you.</p>
      <p style="text-align: justify">Here's the link, <a href="https://goo.gl/forms/iYyiK412QBRM6Nx72">https://goo.gl/forms/iYyiK412QBRM6Nx72</a></p><br>
      <p class="valediction"><em>Thanks,<br>Chris Georgen<br>Founder and President, Topl LLC</em></p>
    </columns>
  </row>
  <spacer size="16"></spacer>
</container>
<row class="collapsed footer">
    <columns>
      <spacer size="16"></spacer>
      <p style="text-align: center">Topl LLC 2016<br><a href="info@topl.me">info@topl.me</a> | <a href="https://topl.me">www.topl.me</a> | <a href='[unsubscribe]'>Unsubscribe</a></p>
      <p style="text-align: center" class="address">22848 Herons Court, Kildeer, IL 60047</p>
    </columns>
</row>
<spacer size="16"></spacer>
