@import 'settings';
@import 'foundation-emails';
@import 'template/template';

.header-text {
  text-align: center;
  margin-top: 40px;
}

.banner {
  padding: 0px;
  width: 150px;
}

.valediction {
  text-align:right;
  padding-top: 24px;
  padding-right: 30px;
}
