@import 'settings';
@import 'foundation-emails';

.header-text {
  text-align: center;
  margin-top: 40px;
}

.qr {
  padding: 0px;
  width: 250px;
}

.who {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 200px;
}

.where {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
}

.when {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
}
