---
layout: default
subject: Topl November Newsletter
description: We've officially launched
---
<container>
  <spacer size="16"></spacer>
  <row>
    <columns large="12" small="12">
      <center>
        <img src="https://s3.amazonaws.com/topl-profile-photos/email/banner-logo.jpg" class="banner" width=150>
      </center>
    </columns>
  </row>
  <row class="above">
    <columns large="12" small="12">
      <h4 class="text-center">We have launched!</h4>
    </columns>
  </row>
  <spacer size="12"></spacer>
  <row>
    <columns large="12" small="12">
      <p style="text-align: justify">This past weekend, Topl celebrated its official launch. We hosted the Tech & Tunes block party to introduce Topl to the world and celebrate the end of Houston Startup Week. While planning and organizing the event was more work than we anticipated, it was also more successful. Through the evening, more than 230 newly signed-up Topl shoppers purchased over $1200 of product from 8 businesses using our platform.</p>
      <p style="text-align: justify">With our official launch and initial product release behind us, Topl is excited to shift focus to gathering feedback from our 300-plus users, improving the platform, and adding to the number of businesses that accept Topl. While we are nervous about the prospect of taking this next step, we draw confidence from what our small team has been able to accomplish in just 6 months of full-time work. So far we have,<em>
      <ul>
        <li>designed and deployed the first payment network with built-in loyalty programs (to our knowledge)</li>
        <li>developed applications for iOS, Android, and web</li>
        <li>navigated federal and state regulations to achieve full compliance</li>
        <li>prepared two provisional patents to protect our intellectual property</li>
      </ul></em></p>
      <p style="text-align: justify">More exciting than any of this though is the fact that Topl is already accepted by 3 businesses in Houston, with more businesses beginning to accept Topl in the coming two weeks! <b>If you know of any retailers, restaurants, or other Houston businesses that might be interested in the Topl payment and loyalty platform, please let us know, we'd love to speak with them.</b></p>
      <p style="text-align: justify">We are excited about what the final month and a half of 2016 will bring and are extremely grateful to everyone who has helped us get to where we are.</p>
      <p class="valediction"><em>Best,<br>Chris Georgen<br>Founder and President, Topl LLC</em></p>
    <spacer size="16"></spacer>
      <p style="text-align: justify">P.S. If someone forwarded you this email and you would like to be included in future updates, just <a href="*|LIST:SUBSCRIBE|*">subscribe here</a>.</p>
    </columns>
  </row>
  <spacer size="16"></spacer>
</container>
<row class="collapsed footer">
    <columns>
      <spacer size="16"></spacer>
      <p class="text-center">Topl LLC 2016<br/>
      <a href="info@topl.me">info@topl.me</a> | <a href="https://topl.me">www.topl.me</a></p>
    </columns>
</row>
<spacer size="16"></spacer>
